body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    /* Añadido para incluir el padding en el cálculo del tamaño total */
}

h1:hover {
    color: #f00;
}

p:hover {
    color: #f00;
}

.container {
    background: rgba(17, 17, 17, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #030A50;
    width: 90%;
    max-width: 600px;
    /* Aumentado el ancho máximo para dispositivos de escritorio */
    text-align: center;
    position: relative;
    transition: opacity 1s;
}

h1 {
    margin-bottom: 20px;
    font-size: 20px;
    word-wrap: break-word;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

a {
    color: chartreuse;
}

a:hover {
    text-decoration: none;
    color: #f00;
}

.input-group,
.output-group {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid chartreuse;
    background: #000;
    color: chartreuse;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    /* Añadido para incluir el padding en el cálculo del tamaño total */
}

textarea:hover {
    color: #f00;
}

textarea::placeholder {
    color: #FFFF;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
    /* Añadido para separar los botones del área de salida */
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: chartreuse;
    color: #000;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #f00;
    color: #000;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
        max-width: 100%;
    }

    textarea {
        width: calc(100% - 20px);
    }

    body {
        position: relative;
        overflow-x: hidden;
        /* Evitar el desplazamiento horizontal en dispositivos móviles */
        margin-bottom: 60px;
        /* Espacio adicional en la parte inferior para el footer */
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        /* Espaciado interno del footer */
        font-size: 14px;
        color: chartreuse;
        background-color: rgba(0, 0, 0, 0.9);
        /* Fondo semi-transparente */
        z-index: 1000;
        /* Asegura que el footer esté sobre otros elementos */
    }
}

@media (min-width: 601px) {
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        color: chartreuse;
    }
}
